
/*
    Place any unique variables here for your original site theme
    so your documentation pages will seamlessly integrate.
*/

$primary: #92278F;
$secondary: #630460;
$contrast: #FFFFFF;
$light: #FFF;
$dark: #707070;

$body-bg: $light;
$body-color: $dark;
$link-color: $secondary;
$nav-color: $light;
