
/*
    Fonts
*/

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$font-family-sans-serif: "Nunito", "Helvetica Neue", sans-serif;
$font-size-base: 1rem;

/*
    Colours for the project
*/

$primary: #92278F;
$secondary: #630460;
$contrast: #FFFFFF;
$light: #FFF;
$dark: #707070;

$body-bg: $light;
$body-color: $dark;
$link-color: $secondary;
$nav-color: $light;

/*
    Margins and padding
*/



/*
    Heights and widths
*/

$nav-height: 56px;
