
// Bootstrap change defaults
@import "variables";

// Bootstrap import
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Import unique variables for the project
@import "unique-variables";

// Import unique SCSS for the project
@import "unique";

section {
    padding-top: 2rem;

    .list-group-item {
        border: 0;
    }
}

#content-nav {
    .divider {
        margin-top: 2rem;
    }
}

#content {

    img {
        margin: 1rem 15px 1rem 0;
        border: $primary 1px solid;
        padding: 0.5rem;
        width: 50%;
        float: right;
        right: 0;

        &:after {
            clear: both;
        }
    }

    .img-full {
        float: none;
        width: 100%;
        margin: 1rem 0;
    }

    code {
        width: 100%;
        background: $dark;
        color: $white;
        padding: 0.2rem 0.5rem;
        margin: 0 0.2rem;
    }

}

.feather {
  stroke: #CCC;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

footer {
    margin-top: 4rem;
    padding: 2rem;
    background-color: #EEE;

    .navigation {
        padding-left: 0;
        list-style-type: none;
        color: $dark;

        .nav-link {
            color: $dark;
        }
    }

    .container {
        height: 100%;
    }

    .icon {
        width: $svg-icon-lg;
        height: $svg-icon-lg;
    }

}
